.counter-wrapper{
    display: inline-block;
    flex-direction: row;
    border: 3px solid rgb(75, 62, 62);
    border-radius: 5px;
    align-items: center;
    justify-content:flex-end;
    height: 100%;
    width: 40px;
}

.counter-button-plus-active{ 
    border: none;
    background-color: transparent;
    height: 100%;
    font-size:xx-large;
    color:red;
    cursor: pointer;
}

.counter-button-minus-active{   
    background-color: transparent;
    border: none;
    height: 100%;
    font-size:xx-large;
    color:red;
    cursor: pointer;
}

.counter-button-minus-desative{   
    background-color: transparent;
    border: none;
    height: 100%;
    font-size:xx-large;
    color:rgb(59, 58, 58);
    cursor: pointer;
}